/*RESET*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*PROPIEDADES GENERALES*/
.contain {
    width: 1400px;
    margin: 0 auto;
    font-family: "Oswald", serif;
    color: #072E45;
    position: relative;
}

img {
    max-width: 100%;
}

a:link,
a:visited {
    color: #072E45;
}

section {
    background-color: #CFCDC0;
    padding: 1rem;
    margin: 2rem auto;
}

.title-sect {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
    text-shadow: 1px 1px 5px #0c0c0c6e;
}

/*Botón para subir a la parte superior de la página desde cualquier punto de ésta*/
.go-back {
    position: fixed;
    bottom: 2%;
    left: 96.5%;
    font-size: 2.5rem;
    z-index: 9999;
    opacity: 0.8;
}

i {
    margin: 0 0.5rem;
}


/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* ---- CSS - HEADER ----- */

/*CSS - LOGO Y TITULO*/
.logo-title-ppal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: #072E45;
    background-color: #CFCDC0;
}

.logo {
    width: 10%;
}

.logo img {
    border-radius: 50%;
    border: 0.2rem solid #072E45;
    box-shadow: -4px -1px 2px #0c0c0c6e;
   
}

.flex-title {
    width: 85%;
    text-align: center;
}

.title-school {
    font-size: 3rem;
    text-shadow: 2px 2px 5px #0c0c0c6e;
    animation: show-title 4s forwards;
}

/*animación para el título*/
@keyframes show-title {
    0%{
        transform: translate(-100px, -100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
    
}

.slogan{
    font-size: 1.5rem;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*CSS - MENÚ NAVEGACIÓN*/
.blq-nav {
    margin: 2rem auto;
}

.list-web {
    display: flex;
    justify-content: space-between;
}

.item-web {
    width: 19%;
    list-style: none;
    opacity: 0;
}

/*animación para que el menú aparezca progresivamente*/

.item-web:first-of-type{
    animation: show-menu 0.8s 2.5s ease forwards; 
}
.item-web:nth-of-type(2){
    animation: show-menu 0.8s 2s ease forwards;
}
.item-web:nth-of-type(3){
    animation: show-menu 0.8s 1.5s ease forwards;
}
.item-web:nth-of-type(4){
    animation: show-menu 0.8s 1s ease forwards;
}
.item-web:nth-of-type(5){
    animation: show-menu 0.8s 0.5s ease forwards;
}

@keyframes show-menu {
    0%{
        transform: translateX(-1000px);
        
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

/*propiedades para todos los enlaces del menú principal*/
.item-web a {
    display: block;
    text-align: center;
    border: 0.2rem solid black;
    background-color: #CFCDC0;
    color: #072E45;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.sub-item a {
    font-size: 1.2rem;
}

.item-web a:hover {
    color: #CFCDC0;
    background-color: #072E45;
}

/*para que sea el eje de coordenadas de cada elemento dentro de esta etiqueta*/
.pos-rel {
    position: relative;
}

/*Los menús desplegables*/
.show-list {
    list-style: none;
    width: 100%;
    position: absolute;
    display: none;
}

.pos-rel:hover .show-list {
    display: block;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*CSS - QUIENES SOMOS*/

.text-qs {
    text-align: justify;
    margin: 1rem auto;
}

.team {
    display: flex;
    justify-content: space-evenly;
}

.title-subsection {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.member {
    width: 25%;
    padding: 1rem;
    transition: all 0.8s;
}

.job-member {
    text-align: center;
    font-size: 1.5rem;
}

.photo-member {
    border-radius: 0.8rem;
    transition: all 0.5s;
    transform: translateY(30%);
}

.menu-member {
    list-style: none;
    transition: all 0.8s;
    opacity: 0;
}

.menu-member li {
    padding: 0.3rem;
}

.member:hover .photo-member {
    transform: translateY(0%);
}

.member:hover .menu-member {
    opacity: 1;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*CSS - NUESTRO CENTRO*/

.school-photo {
    width: 60%;
    margin: 0 auto;
    display: block;
    border: 0.3rem solid #072E45;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px #0c0c0c6e, -5px -5px 5px #0c0c0c6e;
}

.text-school {
    margin: 1.5rem auto;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.image-class {
    width: 30%;
    position: relative;
}


.image-class img {
    transition: all 0.5s;
    width: 90%;
    margin: 1.5rem;
    border: 0.2rem solid #072E45;
    box-shadow: 3px 3px 5px #0c0c0c6e;
    opacity: 0.3;
}

.image-class h4 {
    position: absolute;
    top: 35%;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

.image-class:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.image-class:hover h4 {
    opacity: 0;
}


/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*CSS - NUESTROS CURSOS*/

.contain-courses {
    display: flex;
    margin: 3rem auto;
}

.sect-list-courses {
    width: 20%;
    margin: 12rem auto;
}

.item-course {
    list-style: none;
    display: block;
    width: 100%;
    border: 0.3rem solid #072E45;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.5rem auto;
    transition: all 0.5s;
    cursor: pointer;
}

.item-course:hover {
    color: #CFCDC0;
    background-color: #072E45;
}

.course-article {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.course {
    width: 75%;
    border: 0.5rem solid;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px #0c0c0c6e, -3px -3px 3px #0c0c0c6e;
    position: absolute;
    left: 10%;
    transition: all 1s;
}

.title-course {
    font-size: 1.8rem;
    background-color: #072E45;
    color: #CFCDC0;
    padding: 1rem;
    text-decoration: underline;
    text-align: center;
}

.course p {
    padding: 1rem;
    font-size: 1.2rem;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*CSS - CONTACTO*/
.general {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.subgeneral {
    width: 33%;
    padding: 1rem;
}

.subgeneral:not(:last-child) {
    border-right: 0.3rem solid;
}

.title-contact {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.map {
    width: 100%;
    height: 200px;
    border: 0.3rem solid black;
    margin: 0 auto;
}

.list-contact {
    list-style: none;
    font-size: 1.2rem;
}

.list-contact li {
    text-indent: 1rem;
    margin: 0.8rem auto;
}

.contact-form {
    width: 100%;
    margin-left: 1rem;
}

.question {
    align-items: center;
    display: flex;
    margin: 0.5rem auto;
}

.question label {
    margin-right: 0.5rem;
}

#name-user {
	width: 85%;
}

#mail-user {
	width: 70%;
}

#select-course {
	width: 52%;
}

.btn-form {
    width: 30%;
    margin: 0.2rem auto;
    color: #CFCDC0;
    background-color: #072E45;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: "Oswald", serif;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* ---- CSS - REDES SOCIALES ----- */
.follow-us {
    margin: 2rem auto;
    text-align: center;
}

.contain-rs {
    display: flex;
    align-items: center;
}



.rs {
    width: 50%;
}

.link-rs {
    text-decoration: none;
}

.rs h4 {
    font-size: 2rem;
    text-align: center;
}


.tweet {
    width: 80%;
    background-color: #072E45;
    color: #CFCDC0;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;

}

.user-rs {
    display: flex;
    align-items: center;
}

.photo-user {
    width: 10%;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.text-tweet {
    padding: 1.5rem;
    font-size: 0.9rem;
}

.date-tweet {
    text-align: end;
}

.publication {
    width: 70%;
    border-radius: 0.8rem;
    margin: 1rem auto;
    background-color: #072E45;
    color: #CFCDC0;
}

.user-fb {
    background-color: #072E45;
    color: #CFCDC0;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.8rem;
}

.text-fb {
    padding: 1.5rem;
    font-size: 0.8rem;
}

.date-fb {
    text-align: end;
    padding: 0.5rem;
}

.p-shadow {
    box-shadow: 15px 15px 5px #0c0c0c6e;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/* ---- CSS - FOOTER ----- */
.contain-footer {
    background-color: #CFCDC0;
    padding: 1rem;
}

.contact-rs{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.menu-footer{
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.info-footer{  
    list-style: none;
    text-align: center;
    margin: 0.2rem auto;   
}

.link-footer {
	text-decoration: none;
	width: 30%;
	text-align: center;
    padding: 1rem;
}

.link-footer:first-child{
    border-right: 0.2rem solid;
}





